# Visual Studio files

*.suo
*.user
bin
obj

/src/packages/**/
!/src/packages/repositories.config


# Output files

/inst/


# Tools

*.resharper
_ReSharper*/
.nuget/
[Tt]est[Rr]esult*
nugetpkg

*.ncrunchproject
*.ncrunchsolution


# Generic

*.cache
*.bak
